.container {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;

  .about-left {
    width: 50%;

    img {
      width: 100%;
      border-radius: 40%;
      border: 3px solid darken($color: #26de82d8, $amount: 10%);
      opacity: 0.9;
    }
  }

  .about-right {
    width: 45%;
  }
}


@media (max-width: 767px) {
  .about {
    flex-direction: column-reverse;

    .about-left {
      width: auto;
    }

    .about-right {
      width: 100%;
      padding-bottom: 50px;
      margin: 10px;

      .section-paragraph {
        font-size: 18px;
        text-align: center;
        margin: 10px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about {
    flex-direction: column-reverse;

    .about-left {
      width: 80%;
      margin: auto;
    }

    .about-right {
      width: 80%;
      margin: auto;
      padding-bottom: 50px;
    }
  }
}