#about {
  height: 100vh;

  .container {
    display: flex;
    justify-content: space-between;

    .about-left {
      width: 45%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .about-right {
      width: 45%;
    }
  }
}