#contact {
  padding-top: 150px;

  .container {
    display: flex;
    justify-content: space-evenly;
    margin: 100px;

    .contact-text {
      width: 45%;
    }

    .contact-box {
      width: 45%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      form {
        display: flex;
        flex-direction: column;

        .inputs {
          display: flex;
          justify-content: space-between;

          input {
            margin-bottom: 11px;
            height: 40px;
            width: 49%;
            background: $color-one;
            color: lighten($color: $color-dark, $amount: 10%);
            font-size: 18px;
            font-family: $font-secondary;
            font-weight: bold;
            border-radius: 5px;
            border: 2px solid $color-light;
          }
          
          input::placeholder{
            font-size: 18px;
          }
        }

        textarea {
          background: $color-one;
          font-size: 18px;
          border: 2px solid $color-light;
          border-radius: 5px;
          font-family: $font-secondary;
          font-weight: bold;
          color: lighten($color: $color-dark, $amount: 10%);
        }

        textarea::placeholder {
          font-size: 18px;
        }
      }
    }
  }
}