#footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;

  .footer-wrapper {
    display: flex;

    .logo {
      height: 100px;
      width: 100px;

      img{
        height: 100%;
        width: 100%;
      }
    }  
  }
}