.portfolio {
  flex-direction: column;
  padding-top: 180px;

  .section-paragraph {
    text-align: center;
  }

  .projects-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    .project {
      width: 32%;
      height: 250px;
      background-color: $color-dark;
      margin-bottom: 27px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 10px;
      opacity: 0.9;

      .project-title {
        font-family: $font-main;
        color: $color-light;
        font-size: 22px;
        margin: 0 auto;
        padding-top: 50px;
      }

      .project-paragraph {
        font-family: $font-secondary;
        color: $color-light;
        font-size: 18px;
        margin: 10px;
      }

      a {
        font-size: 30px;
        margin: 20px;

        &:hover {
          color: $color-two;
  
          i {
            transform: scale(1.5);
          }
        }

        i {
          transition: $transition;
        }
      }

      .project-hover {
        opacity: 0;
        transition: $transition;
        background-color: $color-dark;
        height: 100%;
        width: 100%;
        border: 1px solid $color-two;
        border-radius: 10px;
      }

      &:hover .project-hover {
        opacity: 0.9;
        transition: $transition;
      }
    }

    .pizzeria {
      background-image: url("../../images/pizzeria2.png");
    }

    .waiters-app {
      background-image: url("../../images/waiters-app.png");
      background-position: top;
    }

    .to-do {
      background-image: url("../../images/to-do.png");
      background-position: top;
    }
  }

  .projects-footer {
    width: 80%;
    margin: 100px auto;

    p {
      text-align: center;
    }
  }
}


@media (max-width: 767px) {
  .portfolio {
    flex-direction: column;
    padding-top: 120px;

    .projects-wrapper {
      flex-direction: column;

      .project {
        width: 100%;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .portfolio {
    .projects-wrapper{
      .project{
        width: 48%;
      }
    }
  }
}