/* Variables */

$color-light: #fff;
$color-dark: #2f3542;
$color-two: #FED136;

$font-main: 'Roboto', sans-serif;
$font-secondary: 'Open Sans Condensed', sans-serif;

$transition: 0.7s;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;   
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: $font-main;
  text-align: center;
  background-color: $color-dark;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: $color-two;
}

.btn {
  display: inline-block;
  min-width: 180px;
  margin: 24px auto 0;
  padding: 15px;
  border-radius: 3px;
  font-family: $font-main;
  font-size: 14px;
  cursor: pointer;
  color: $color-light;
  background-color: $color-two;
}

.section-title {
  font-family: $font-main;
  color: $color-light;
}

.section-paragraph {
  font-family: $font-secondary;
  color: $color-light;
  font-size: 22px;
  text-align: left;
}