#home {
  height: 100vh;
  position: relative;

  .logo {
    margin: 20px;
    height: 70px;
    width: 70px;

    img{
      height: 100%;
      width: 100%;
    }
  }

  .navigation {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
    opacity: 1;
    backdrop-filter: blur(10px);
    z-index: 5;

    .nav-menu {
      list-style: none;
      font-size: 22px;
      padding-top: 10px;

      .nav-element {
        display: inline-block;
        margin: 0 20px 0 0;
        text-transform: uppercase;
        position: relative;
        color: $color-one;

        &.active {
          a {
            color: $color-two;
            transition: $transition;
          }
        }
      }

      .underline:after {
        content: '';
        width: 0;
        border-radius: 5px;
        height: 3px;
        bottom: 0;
        margin: 0 auto;
        background: $color-two;
        position: absolute;
        left: 0;
        transition: 0.5s;
      }

      .underline:hover::after {
        width: 100%;
      }
    }

    .menuBtn {
      margin: auto 0;
      display: none;
      cursor: pointer;

      div {
        width: 35px;
        height: 3px;
        background-color: $color-light;
        margin: 6px;
        transition: $transition;
      }
    }

    .open .bar1 {
      transform: rotate(-45deg) translate(-6px, 6px);
    }
  
    .open .bar2 {
      opacity: 0; 
    }
  
    .open .bar3 {
      transform: rotate(45deg) translate(-6px, -7px);
    }
  }

  .nav-mobile {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 100vw;
    right: 0;
    bottom: 0;
    background-color: $color-dark;
    overflow: hidden;
    transition: $transition ease;
    z-index: 2;

    .nav-mobile-menu {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style: none;

      .nav-mobile-element {
        text-transform: uppercase;
        margin: 5px auto;
        font-size: 28px;
      }
    }
  }

  .active-mobile {
    transform: translateX(-100vw);
  }

  .splash-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .page-title {
      color: $color-light;
      animation: typing 3s steps(22), blink .5s step-end infinite alternate;
      width: 29ch;
      overflow: hidden;
      white-space: nowrap;
      border-right: 3px solid;
      font-size: 32px;
    }

    .page-subtitle {
      color: $color-light;
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 767px) {
  #home {
    .navigation {
      padding: 0px;
    
      .nav-menu {
        display: none;
      }

      .menuBtn {
        display: block;
        margin-right: 15px;
      }
    }

    .splash-inner {
      min-width: 300px;
      
      .page-title {
        font-size: 18px;
      }
    }
  }
}